trunk/semanticMapping/CarDemo/Structures/carSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://com.charteris.import"
	xmlns="http://com.charteris.import"
	elementFormDefault="qualified"
	attributeFormDefault="qualified">
	<xs:complexType name="drivesCarType">
		<xs:attribute name="make" type="xs:string" use="required"/>
		<xs:attribute name="type" type="xs:string" use="required"/>
		<xs:attribute name="reg" type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>
